<section>
  <div>

  </div>
  <div>
    <h2>About</h2>
    <h3>Senior Software Developer Full Stack</h3>
    <p>
      +5 años de experiencia como desarrollador de software Full Stack.
      He trabajado en el desarrollo de aplicaciones altamente escalables con una base de usuarios significativa.
      Utilizando Java con Spring Framework,  NodeJs con Express, tecnologías frontend como Angular y React.
      Gran énfasis en pruebas testing (TDD) garantizando la calidad del software. Liderando y gestionando equipos técnicos.
      Apoyo en la toma de decisiones y diseño de arquitectura de software.

      Soy un programador autodidacta desde mi juventud en constante aprendizaje.
      Apasionado del desarrollo de software y la tecnología, listo para asumir nuevos desafíos.
    </p>
  </div>

</section>
